<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="day1">
        Day 1
      </ion-segment-button>
      <ion-segment-button value="day2">
        Day 2
      </ion-segment-button>
      <!-- <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button> -->
    </ion-segment>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons> -->
    
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Day 1 -->
  <ion-list #scheduleList [hidden]="day1.hide">

    <ion-item-group *ngFor="let d1 of day1">

      <ion-item-divider sticky>
        <ion-label>
          <ion-icon class="ico-time" name="time"></ion-icon>{{d1.event_time}}<ion-icon class="ico-calendar" name="calendar"></ion-icon>{{d1.event_date}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding #slidingItem [attr.track]="category">
      <!-- <ion-item-sliding style="padding-left:10px;"> -->
          
          <button ion-item (click)="goToSessionDetail(d1)" style="border-bottom:1px solid #dedede;" text-wrap>
            <h3>&nbsp;{{d1.ciosession_name}}</h3>
            <!-- <p>
              {{d1.start_time}}
            </p> -->
            <p>{{d1.event_desc}}</p>
          </button>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <!-- Day 2 -->
  <ion-list #scheduleList [hidden]="day2.hide">

      <ion-item-group *ngFor="let d2 of day2">
          
        <ion-item-divider sticky>
          <ion-label>
              <ion-icon class="ico-time" name="time"></ion-icon>{{d2.event_time}}<ion-icon class="ico-calendar" name="calendar"></ion-icon>{{d2.event_date}}
          </ion-label>
        </ion-item-divider>
  
        <ion-item-sliding #slidingItem [attr.track]="category">
  
            <button ion-item (click)="goToSessionDetail(d2)" style="border-bottom:1px solid #dedede;" text-wrap>
              <h3>{{d2.ciosession_name}}</h3>
              <!-- <p>
                {{d2.start_time}}
              </p> -->
              <p [innerHTML]="d2.event_desc"></p>
            </button>

        </ion-item-sliding>
    
        </ion-item-group>
    
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      No Sessions Found
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>